<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">
        <title>top</title>
    </head>

    <body>
        <ul>
            <% for(const user of users) { %>
                <li><%= user.name %></li>
            <% } %>
        </ul>
    </body>
</html>